<div class="row" @fade *ngIf="currentQuestion">
  <div class="col-12">
    <h2>{{ currentQuestion.intitule }}</h2>
  </div>
  <div *ngFor="let reponse of currentQuestion.reponsesPossibles"
   [class]="currentQuestion.presentationTypeDiv + ' buttonClassSpecial'">
    <button
      mat-raised-button
      color="primary"
      (click)="
        nextQuestionRedirection(
          reponse.nextQuestionId,
          reponse.reponseText,
          currentQuestion.id
        )
      "
    >
      {{ reponse.reponseText }}
    </button>
  </div>
  <div class="clearBoth">&nbsp;</div>
  <div class="col-12">
    <app-previous-question
      [currentQuestion]="currentQuestion"
      (previousQuestionEvent)="previousQuestion($event)"
    ></app-previous-question>
  </div>
</div>
