<div *ngIf="currentQuestion" class="row" @fade>
  <div class="col-12">
    <h2>{{ currentQuestion.intitule }}</h2>
  </div>
  <form [formGroup]="inputForm">
    <div class="row">
      <div class="col-12">
        <mat-form-field class="example-form-field" appearance="fill">
          <input matInput type="text" formControlName="inputBuilderName" />
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="col-2">
    <app-previous-question
      [currentQuestion]="currentQuestion"
      (previousQuestionEvent)="previousQuestion($event)"
    ></app-previous-question>
  </div>
  <div class="col-4">
    <button
      mat-raised-button
      color="primary"
      (click)="
        nextQuestionRedirection(
          currentQuestion.reponsesPossibles.nextQuestionId,
          currentQuestion.id
        )
      "
    >
      Suivant
    </button>
  </div>
</div>
