<div *ngIf="currentQuestion" class="row" @fade>
  <div class="col-12">
    <h2>{{ currentQuestion.intitule }}</h2>
  </div>

  <form [formGroup]="dateForm">
    <div class="row">
      <div class="col-2">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Jour</mat-label>
          <input
            matInput
            type="number"
            formControlName="jour"
            min="1"
            max="31"
            (change)="jour > 31 ? (jour = 31) : jour"
          />
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Mois</mat-label>
          <input
            matInput
            type="number"
            formControlName="mois"
            min="1"
            max="12"
            (change)="mois > 12 ? (mois = 12) : mois"
          />
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Année</mat-label>
          <input
            matInput
            type="number"
            formControlName="annee"
            min="1945"
            (change)="annee < 1945 ? (annee = 1945) : annee"
          />
        </mat-form-field>
      </div>
    </div>
  </form>
  <!--<app-date-builder></app-date-builder>-->

  <div class="col-4">
    <app-previous-question
      [currentQuestion]="currentQuestion"
      (previousQuestionEvent)="previousQuestion($event)"
    ></app-previous-question>
  </div>

  <div class="col-4">
    <button
      mat-raised-button
      color="primary"
      (click)="
        nextQuestionRedirection(
          currentQuestion.reponsesPossibles.nextQuestionId,
          currentQuestion.id
        )
      "
    >
      Suivant
    </button>
  </div>
  <div class="clearBoth">&nbsp;</div>
</div>
