<div *ngIf="currentQuestion" class="row" @fade>
  <div class="col-12">
    <h2>{{ currentQuestion.intitule }}</h2>
  </div>

  <form [formGroup]="dateForm">
    <div class="row">
      <div class="col-3">
        <app-input-date-builder [incrementValue]="currentQuestion.defaultJour" [fieldLabel]="'Jour'"
          [dateForm]="dateForm" [attributForm]="'jour'" [min]="1" [max]="31">
        </app-input-date-builder>
      </div>
      <div class="col-3">
        <app-input-date-builder [incrementValue]="currentQuestion.defaultMois" [fieldLabel]="'Mois'"
          [dateForm]="dateForm" [attributForm]="'mois'" [min]="1" [max]="12">
        </app-input-date-builder>
      </div>
      <div class="col-6">
        <app-input-date-builder [incrementValue]="currentQuestion.defaultAnnee" [fieldLabel]="'Année'"
          [dateForm]="dateForm" [attributForm]="'annee'" [min]="1945" [max]="dateLimit">
        </app-input-date-builder>
      </div>
    </div>
  </form>

  <div class="clearBoth">&nbsp;</div>
  <div class="col-6">
    <app-previous-question [currentQuestion]="currentQuestion" (previousQuestionEvent)="previousQuestion($event)">
    </app-previous-question>
  </div>

  <div class="col-6 d-flex justify-content-center">
    <button mat-raised-button [disabled]="dateForm.invalid" color="primary" (click)="
        nextQuestionRedirection(
          currentQuestion.reponsesPossibles.nextQuestionId,
          currentQuestion.id
        )
      ">
      Suivant
    </button>
  </div>
</div>